.loira-context-menu{
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    font-family: sans-serif;
    font-size: 12px;
    border-radius: 6px;
    padding: 0;
    opacity: 0;
    -webkit-transition: opacity 200ms;
    -moz-transition: opacity 200ms;
    -o-transition: opacity 200ms;
    -ms-transition: opacity 200ms;
    background: #ffffff;
    color: #000000;
    box-shadow: 0 0 15px #595959;
    list-style: none;
}

.loira-context-menu li{
    padding: 5px 16px;
    cursor: pointer;
}

.loira-context-menu li:first-child{
    padding-top: 10px;
}

.loira-context-menu li:last-child{
    padding-bottom: 10px;
}

.loira-context-menu li:hover {
    background-color: #dddddd;
}

.loira-context-menu li.null-line{
    padding: 0;
    cursor: default;
    margin: 0;
    border-bottom: #595959 1px solid;
    height: 1px;
}

.loira-context-menu li.null-line:hover {
    background-color: black;
}